<%= render KalturaAdmin.LayoutView, "entity_header.html", 
      entity_name: :user, 
      mode:        :show, 
      item:        @user  
%>        

<%= render KalturaAdmin.LayoutView, "table_form.html", 
      link_cancel:  user_path(@conn, :index),
      link_delete:  user_path(@conn, :delete, @user),
      link_edit:    user_path(@conn, :edit, @user),
      mode:         :show,
      item:         @user,
      meta:         meta()
 %>

