<%= render KalturaAdmin.LayoutView, "entity_header.html", 
      entity_name: :server, 
      mode:        :create 
%>        

<%= render KalturaAdmin.LayoutView, "form_view.html", 
      action:       server_path(@conn, :create),
      link_cancel:  server_path(@conn, :index),
      changeset:    @changeset,
      mode:         :create,
      meta:         meta()
 %>




