<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: :subnet,
      mode:        :edit ,
      item:        @subnet
%>

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       subnet_path(@conn, :update, @subnet),
      link_cancel:  region_path(@conn, :show, @subnet.region),
      link_delete:  subnet_path(@conn, :delete, @subnet),
      changeset:    @changeset,
      mode:         :edit,
      meta:         CtiKaltura.RegionView.subnet_meta()
 %>
