<!--

Header view on the top of the the table presentation

PARAMETERS:

- entity_name  - the entity name (singular)
- link_create  - the link for create new entity

-->

<div class="entity-header-nested">
  <h3><%= to_plural_capitalize(@entity_name) %></h3>
  <%= link raw(~s'<span class="glyphicon glyphicon-file"></span> Create'), to: @link_create, class: "btn btn-success create", title: "Create new entity" %>
</div>
