<!--

HTML password input component

PARAMETERS:

- mode       - view mode. Available values: [:create, :edit, :show]
- meta       - meta-data (field, type, header ...)
- item       - object 
- f          - form object

-->

<%= if @mode == :show do %>
  <%= render_for_show @meta, @item  %>
<% else %>  
  <%= password_input @f, @meta.field, class: "form-control" %>
<% end %>    