<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: "tv-stream for TV-channel##{@linear_channel.id}",
      mode:        :create
%>

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       tv_stream_path(@conn, :create),
      link_cancel:  linear_channel_path(@conn, :show, @linear_channel),
      changeset:    @changeset,
      mode:         :create,
      meta:         CtiKaltura.LinearChannelView.tv_stream_meta()
 %>
