<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: :user, 
      mode:        :edit, 
      item:        @user  
%>        

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       user_path(@conn, :update, @user),
      link_cancel:  user_path(@conn, :index),
      link_delete:  user_path(@conn, :delete, @user),
      changeset:    @changeset,
      mode:         :edit,
      meta:         meta()
 %>


