<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: :user, 
      mode:        :create 
%>        

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       user_path(@conn, :create),
      link_cancel:  user_path(@conn, :index),
      changeset:    @changeset,
      mode:         :create,
      meta:         meta()
 %>
