<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: :server, 
      mode:        :edit, 
      item:        @server  
%>        

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       server_path(@conn, :update, @server),
      link_cancel:  server_path(@conn, :index),
      link_delete:  server_path(@conn, :delete, @server),
      changeset:    @changeset,
      mode:         :edit,
      meta:         meta(@server)
 %>

