<%= render CtiKaltura.LayoutView, "table_header.html",
      entity_name:  "server group" , 
      link_create:  server_group_path(@conn, :new)
%> 

<%= render CtiKaltura.LayoutView, "table.html",
      items:          @server_groups,
      conn:           @conn,
      entity_link_fn: &server_group_path/3,  
      meta:           meta()
%>        
