<%= render CtiKaltura.LayoutView, "entity_header.html",
      entity_name: "program", 
      mode:        :edit,
      item:        @program 
%>        

<%= render CtiKaltura.LayoutView, "form_view.html",
      action:       program_path(@conn, :update, @program),
      link_cancel:  program_path(@conn, :index),
      link_delete:  program_path(@conn, :delete, @program),
      changeset:    @changeset,
      mode:         :edit,
      meta:         meta()
 %>




