<%= render KalturaAdmin.LayoutView, "entity_header.html", 
      entity_name: "program record for Program##{@program.id}", 
      mode:        :create 
%>        

<%= render KalturaAdmin.LayoutView, "form_view.html", 
      action:       program_record_path(@conn, :create),
      link_cancel:  program_path(@conn, :show, @program),
      changeset:    @changeset,
      mode:         :create,
      meta:         KalturaAdmin.ProgramView.program_record_meta()
 %>




