<h1>Show Program record</h1>

<ul>

  <li>
    <strong>Status:</strong>
    <%= @program_record.status %>
  </li>

  <li>
    <strong>Protocol:</strong>
    <%= @program_record.protocol %>
  </li>

  <li>
    <strong>Path:</strong>
    <%= @program_record.path %>
  </li>

</ul>

<span><%= link "Edit", to: program_record_path(@conn, :edit, @program_record) %></span>
<span><%= link "Back", to: program_record_path(@conn, :index) %></span>
